# Backend
backend/src/main/resources/static/**
backend/target/
backend/.idea/
backend/*.iml
backend/data/

# Frontend
frontend/node_modules/
frontend/dist/

# OS / IDE
.DS_Store
Thumbs.db
*.log
commitmsg.txt
